* {
    margin: 15;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.cabecalho {
    display: flex;
    align-items: center;
    padding: 20px;
}
  
.cabecalho-imagem {
    height: 130px;
}

.conteudo {
    padding:0px;
    align-items: center;
    font-family: 'Sarala', sans-serif;
    text-align: justify;
    font-size: 15px;
}

.container {
    margin: 60px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 5px #cfcfcf;
    padding: 35px;
    background-color: #ffffff;
}
    
.container  h2 {
    padding: 10px;
    text-align: center;
    color: #8B1F1A;
}

.container h3 {
    text-align: center;
    color: #0e0d0d;
}

h2::before {
    content: "📧";
    display: block;
    margin-bottom: 15px;
}
    
#titulo {
    margin: auto;
    font-family:'Sarala', sans-serif;
    color: #8B1F1A ;
}

.separador {   
    border-top: 0.5px solid #8B1F1A;
}

#subtitulo {
    font-family:'Sarala', sans-serif;
    color: #8B1F1A ;
    margin-left: 11%;
} 

body {
    background-color: #FFFBF3;
    font-family: sans-serif;
    color: #8B1F1A;
    justify-content: center;
}

#titulo {
    margin: auto;
    font-family:'Sarala', sans-serif;
    color: #8B1F1A ;
}

.fale-conosco h1 {
    font-size: 1.8rem;
    margin-bottom: 2rem;
    text-align: center;
    line-height: 1.2;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family:'Sarala', sans-serif;
}

label, input, textarea, button {
    display: block;
    width: 50%;
}

label {
    line-height: 1.5;
    margin-bottom: 0.5rem;
    font-size: larger;
}

input, textarea {
    background-color: #FFFBF3;
    font: inherit;
    padding: 0.8rem;
    margin-bottom: 0.5rem;
    border: 1px solid  #a10808;
    border-radius: 4px;
}

 textarea {
    min-height: 10rem;
    resize: vertical;
}

input:hover, textarea:hover, input:focus, textarea:focus {
    outline: none;
    border-color: #751611;
    box-shadow: 0 0 0 1px #8f1913;
}

input:valid, textarea:valid {
    border-color: rgb(8, 102, 8);
    box-shadow: 0 0 0 1px #26a100;
}

button {
    display: block;
    width: 150px;
    padding: 0.9rem;
    background: #8B1F1A;
    color: #FFFBF3;
    font: inherit;
    text-transform: uppercase;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
} 

button:hover, button:focus {
    outline: none;
    background: #8B1F1A;
} 

.rodape {
    padding: 5px;
    border-top: 0.5px solid #8B1F1A;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.direitos {
    font-family:'Sarala', sans-serif;
    color:#8B1F1A;
    text-align: center;
    align-items: center;
}



