@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

* {
    margin: 15;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
  }
  
  body {
    font-size: 100%;
    background: linear-gradient(68.15deg, #FFFBF3 100%, #FFFBF3 100%);
  }
  
  .cabecalho {
    display: flex;
    align-items: center;
    padding: 20px;
  }
  
  .cabecalho-imagem {
    height: 130px;
  }

 .QuemSomos{
    margin: auto;
    font-family: sans-serif;
    color: #8B1F1A ;
  }

  .separador {
    border-top: 0.5px solid #8B1F1A;
  }
  
  .conteudo {
    padding:0px;
    align-items: center;
    font-family:'Sarala', sans-serif;
    text-align: justify;
    font-size: 20px;
  }

  .container {
    margin: 60px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 5px #cfcfcf;
    padding: 35px;
    background-color: #ffffff;
  }

  .container  h2 {
    padding: 10px;
    text-align: center;
    text-decoration: underline;
    color: #8B1F1A;
  }

  .bloco h3 + p {
    font-size: 17px;
  }

  @media screen  and (min-width: 1400px) {
  
    .bloco {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
    
    .bloco img {
      height: auto;
      height: 260px;
      width: 260px;
    }
    
    .bloco h3 {
      align-items: center;
    }
    
    .perfil {
      width: 250px;
      height: 250px;
      border: 2px solid #8B1F1A;
      border-radius: 100%;
      overflow: hidden;
    }
  
    .descricao p {
      display: none;
      background-color: #FFFBF3;
      border: 1px dotted #8B1F1A;  
      padding: 20px;
      width: 300px;
    }
  }

    @media screen  and (max-width: 1400px) {
      
      .bloco {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
      }
        
      .bloco img {
        height: auto;
        height: 130px;
        width: 130px; 
      }
        
      .bloco h3 {
        align-items: center;
      }
        
      .perfil {
        width: 125px;
        height: 125px;
        border: 2px solid #8B1F1A;
        border-radius: 100%;
        overflow: hidden;
      }
        
      .descricao p {
        display: none;
        background-color: #FFFBF3;
        border: 1px dotted #8B1F1A;
        padding: 10px;
        width: 200px;
      } 
    }

    .descricao:hover p {
        display: block;
    }

    .dados {
        margin: auto;
        padding: 15px 0;
        justify-content: space-around;
        text-align: center;
    }
  
    .dados  img {
      width: 30px;
      height: 30px;
      margin: 10px;
    }

    #email > a {
      color:#8B1F1A;
      text-decoration: underline;
    }

    .direitos {
      font-family:'Sarala', sans-serif;
      color:#8B1F1A;
      text-align: center;
      align-items: center;
    }