li#ano1974 a#web-1974-01{
    background: url(../img/trintaAnosGuerra.webp) no-repeat rgb(212, 10, 10); 
    background-size: 200%;
    background-position: 0px 0px, center;
}

li#ano1986 a#web-1986-01{
    background: url(../img/guerrasNapoleonicas.png) no-repeat rgb(212, 10, 10); 
    background-size: 200%;
    background-position: 0px 0px, center;
}

li#ano1990 a#web-1990-01{
    background: url(../img/GUERRAS\ DA\ INDEPENDÊNCIA\ AMÉRICA-ESPANHOLA.png) no-repeat rgb(212, 10, 10); 
    background-size: 200%;
    background-position: 0px 0px, center;
}

li#ano2021 a#web-2021-01{
    background: url(../img/guerraParaguai.png) no-repeat rgb(212, 10, 10); 
    background-size: 200%;
    background-position: 0px 0px, center;
}

li#ano2003 a#web-2003-01{
    background: url(../img/primeiraGuerra.png) no-repeat rgb(212, 10, 10); 
    background-size: 200%;
    background-position: 0px 0px, center;
}

li#ano2019 a#web-2019-01{
    background: url(../img/segundaGuerra.png) no-repeat rgb(212, 10, 10); 
    background-size: 200%;
    background-position: 0px 0px, center;
}

li#ano1992 a#web-1992-01{
    background: url(../img/guerraFria.png) no-repeat rgb(212, 10, 10); 
    background-size: 200%;
    background-position: 0px 0px, center;
}

li#ano2020 a#web-2020-01{
    background: url(../img/guerraVietna.png) no-repeat rgb(212, 10, 10); 
    background-size: 200%;
    background-position: 0px 0px, center;
}


